@model IEnumerable<GROUPPROJRCT.Models.ModelClass>

@{
    ViewBag.Title = "GetAllUsers";
}

<h2>GetAllUsers</h2>

<p>
    @Html.ActionLink("addUser", "AddUser")
</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            PassWord
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
        </tr>
    }

</table>


